
// 5 colors

$color-primary: #f70d0d; 
$color-secondary: #f57631;
$color-small: #edd416;
$color-medium: #20f80d;
$color-large: #667789;

// media breakpoint

$brk-narrow: 768px;





































